 @media screen and (orientation: portrait) {
   .wrapLayout {
     grid-area: m;
     max-width: 100%;
     display: grid;
     grid-template-columns: minmax(48px, 1fr) 279px 1fr;
     grid-template-rows: 9px 1fr;
     column-gap: 24px;
   }

   .wrapRowRight {
     grid-column: 2 / 3;
     grid-row: 1 / 3;
     display: flex;
   }
 }

 @media screen and (orientation: landscape) {
   .wrapLayout {
     grid-area: m;
     max-width: 100%;
     display: grid;
     grid-template-columns: minmax(48px, 1fr) 402px 150px;
     grid-template-rows: 9px 1fr;
     column-gap: 24px;
   }

   .wrapRowRight {
     grid-column: 2 / 3;
     grid-row: 1 / 3;
     display: flex;
   }
 }

 @media screen and (orientation: landscape) and (min-width: 1025px) {
   .wrapLayout {
     grid-area: m;
     max-width: 100%;
     display: grid;
     grid-template-columns: minmax(304px, 1fr) 402px 1fr;
     grid-template-rows: 9px 1fr;
     column-gap: 58px;
   }
 }

 @media screen and (orientation: landscape) and (min-width: 1356px) {
   .wrapLayout {
     grid-area: m;
     max-width: 100%;
     display: grid;
     grid-template-columns: minmax(400px, 1fr) 402px 1fr;
     grid-template-rows: 9px 1fr;
     column-gap: 128px;
   }
 }