 @media screen and (orientation: portrait) {
   .wrapLayout {
     grid-area: m;
     max-width: 100%;
     display: grid;
     grid-template-columns: minmax(48px, 1fr) 279px 1fr;
     grid-template-rows: 9px 1fr;
     column-gap: 24px;
   }

   .wrapRowRight {
     grid-column: 2 / 3;
     grid-row: 1 / 3;
     display: flex;
     flex-direction: column;
   }

   .image_wrapper {
     position: sticky;
     height: 65vh;
     top: 0px;
     flex: 1 1 48px;
   }

   .h6 {
     /*column-count: 1;*/
     padding-top: 8px;
     width: 200px;
   }
 }

 @media screen and (orientation: landscape) {
   .wrapLayout {
     grid-area: m;
     max-width: 100%;
     display: grid;
     grid-template-columns: minmax(48px, 1fr) 402px 150px;
     grid-template-rows: 9px 1fr;
     column-gap: 24px;
   }

   .wrapRowRight {
     grid-column: 2 / 3;
     grid-row: 1 / 3;
     display: flex;
     flex-direction: column;
   }

   .image_wrapper {
     grid-column: 1 / 2;
     grid-row: 2 / 3;
     position: sticky;
     max-width: 100%;
     height: calc(100vmin - 123px - 2em);
     top: 0px;
   }
   .h6 {
     /*column-count: 1;*/
     padding-top: 8px;
     width: 100%;
   }
 }

 @media screen and (orientation: landscape) and (min-width: 1025px) {
   .wrapLayout {
     grid-area: m;
     max-width: 100%;
     display: grid;
     grid-template-columns: minmax(304px, 1fr) 402px 1fr;
     grid-template-rows: 9px 1fr;
     column-gap: 58px;
   }
 }

 @media screen and (orientation: landscape) and (min-width: 1356px) {
   .wrapLayout {
     grid-area: m;
     max-width: 100%;
     display: grid;
     grid-template-columns: minmax(400px, 1fr) 402px 1fr;
     grid-template-rows: 9px 1fr;
     column-gap: 128px;
   }
 }

 .column {
   grid-area: g;
   display: flex;
   flex-direction: column;
   gap: 8px;
 }

 .header {
   font-family: 'Helvetica';
   font-style: normal;
   font-weight: 700;
   font-size: 28px;
   line-height: 36px;
   color: var(--color-to-basket);
   gap: 25px;
 }

 .select {
   appearance: none;
 }

 .space {
   font-family: 'Helvetica';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   padding-left: 5px;
   padding-right: 5px;
 }

 .labelWrapper {
   display: flex;
   font-family: 'Helvetica';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   color: var(--color-to-basket);
 }

 .check {
   appearance: none;
 }

 .moon {
   color: inherit;
   /*text-decoration-line: none;*/
   text-decoration-line: underline;
   /*border-bottom: 1px solid white;*/
   /*cursor: url('./icons8-pointer_1.svg'), auto;*/
 }

 .km {
   color: inherit;
   text-decoration: none;
   font-weight: bold;
   pointer-events: none;
 }

 /*@media screen and (orientation: landscape) {
   
 }*/

 /* @media screen and (((min-width: 925px) or (min-width: 1025px)) and (orientation: landscape)) {
   .image_wrapper {
     grid-column: 1 / 2;
     grid-row: 2 / 3;
     position: sticky;
     height: 72vh;
     top: 84px;
   }
 }

 @media screen and ((min-width: 1356px) and (orientation: landscape)) {
   .image_wrapper {
     grid-column: 1 / 2;
     grid-row: 2 / 3;
     position: sticky;
     height: 74vh;
     top: 84px;
   }
 }*/