.scroll_top {
  grid-area: s;
  /*flex: 0 0 123px;*/
  /*height: 123px;*/
  /*display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    color: var(--bg-color-to-basket);*/
}