@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.scroll_top {
  display: block;
  grid-area: s;
  animation: fade-in linear forwards;
  animation-timeline: scroll(root);
}