@keyframes fade-in {
  from {
    opacity: 0;
    transform: scaleY(0);
  }

  to {
    opacity: 1;
    transform: scaleY(6);
  }
}

.scroll_top {
  display: block;
  grid-area: s;
  height: 85px;
  background-color: blue;
  animation: fade-in linear forwards;
  animation-timeline: scroll(root);
}