.select {
  appearance: none;
}

.space {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
}

.labelWrapper {
  display: flex;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-to-basket);
}

.check {
  appearance: none;
}

.moon {
  color: inherit;
  /*text-decoration-line: none;*/
  text-decoration-line: underline;
  /*border-bottom: 1px solid white;*/
  /*cursor: url('./icons8-pointer_1.svg'), auto;*/
}

.km {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  pointer-events: none;
}