  /*@import url('https://fonts.googleapis.com/css?family=Passion One');*/
  /*вызывает скачок стриницы при ревалидации*/
  .li {
    height: 100px;
    display: flex;
    flex-direction: column;
  }

  /*.armageddon {
    font-family: 'Passion One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    color: var(--bg-color-to-basket);
  }*/

  .command {
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-to-basket);
  }

  .header {
    grid-area: h;
    /*flex: 0 0 123px;*/
    /*height: 123px;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    color: var(--bg-color-to-basket);
  }

  @media screen and (orientation: portrait) {
    .hidden {
      overflow: hidden;
      grid-area: m;
      height: 100vh;
      position: sticky;
      top: 123px;
    }

    .hidden>img {
      width: 100%;
      object-fit: cover;
      object-position: right 0px;
      display: block;
      /* Убирает лишний отступ под SVG */
    }
  }

  @media screen and (orientation: landscape) {
    .hidden {
      overflow: hidden;
      grid-area: m;
      height: 100vh;
      position: sticky;
      top: 0px;
    }

    .hidden>img {
      width: 100%;
      object-fit: cover;
      object-position: right 0px;
      display: block;

    }
  }