  /*@import url('https://fonts.googleapis.com/css?family=Passion One');*/
  /*вызывает скачок стриницы при ревалидации*/
  .li {
    height: 100px;
    display: flex;
    flex-direction: column;
  }

  .armageddon {
    font-family: 'Passion One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    color: var(--bg-color-to-basket);
  }

  .command {
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-to-basket);
  }

  .header {
    grid-area: h;
    /*flex: 0 0 123px;*/
    /*height: 123px;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
  }

  .hidden {
    /*overflow: hidden;*/
    grid-area: m;
    /*max-width: 100%;*/
    /*position: sticky;*/
  }

  .hidden>img {
    object-fit: cover;
    object-position: right 0px;
  }