  .li {
    height: 100px;
    display: flex;
    flex-direction: column;
  }

  .command {
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-to-basket);
  }

  .header {
    /*position: relative;*/
    /*grid-area: h;*/
    /*flex: 0 0 123px;*/
    /*height: 123px;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*padding: 16px;*/
    gap: 8px;
    color: var(--bg-color-to-basket);
  }


  @media (max-width: 576px) and (orientation: portrait) {

    /*portrait*/
    .hidden {
      overflow: hidden;
      grid-area: s;
      height: 100vh;
      align-self: center;
      /*max-width: 48px;
      overflow: hidden;*/
      position: sticky;
      top: 123px;
      /*scroll-margin-left: 48px;*/
    }

    .hidden>img {
      width: 100%;
      object-fit: cover;
      object-position: right 0px;
      display: block;
      /* Убирает лишний отступ под SVG */
    }

    .subrid {
      display: grid;
      grid-template-columns: minmax(279px, auto);
      grid-template-areas:
        "hh"
        "ff";
      /*grid-template-columns: subgrid;
      grid-template-rows: subgrid;*/
    }

    .footer {
      grid-area: f;
      margin-right: 1em;
      flex: 0 0 150px;
      height: 80px;
      width: 100vw;
      /*top: 76px;*/
      position: fixed;
      /*sticky;*/
      bottom: 0;
      left: 0;
      padding: 16px;
      display: grid;
      /*flex-direction: column;*/
      gap: 32px;
      background: var(--bg-grey);
      /*border-radius: 24px;*/
    }

    .h6 {
      /*column-count: 1;*/
      /*position: relative;*/
      /*padding: 16px;*/
      /*width: 150px; */
      grid-area: q;
      width: 10ch;
      word-break: keep-all;
    }

    /*.textH6 {
      display: inline;
    }*/
  }

  @media screen and (orientation: landscape) {
    .hidden {
      overflow: hidden;
      grid-area: s;
      height: 100vh;
      align-self: center;
      position: sticky;
      top: 0px;
      /*scroll-margin-left: 48px;*/
    }

    .hidden>img {
      width: 100%;
      object-fit: cover;
      object-position: right 0px;
      display: block;

    }

    .subrid {
      display: grid;
      grid-template-columns: minmax(279px, auto) repeat(1, 1fr);
      grid-template-areas:
        "hh kk"
        "uu zz";
      /*grid-template-columns: subgrid;
      grid-template-rows: subgrid;*/
    }

    .footer {

      grid-area: kk;
      margin-right: 1em;
      flex: 0 0 150px;
      height: 161px;
      /*top: 76px;*/
      position: fixed;
      /*sticky;*/
      top: 123px;
      right: 90px;
      padding: 16px;
      display: grid;
      /*flex-direction: column;*/
      gap: 32px;
      background: var(--bg-grey);
      border-radius: 24px;
    }

    .h6 {

      /*column-count: 1;*/
      /*position: relative;*/
      /*padding: 16px;*/
      /*width: 18ch;

      word-break: keep-all;*/
      width: 200px;
    }

  }


  .buttonItem {
    height: 48px;
    width: 120px;
    border: none;
    background: var(--bg-color-to-basket);
    color: var(--color-to-basket);
    text-decoration: none;
    border-radius: 24px;
    display: flex;
    align-items: center;
  }

  .main {
    grid-area: g;
  }

  .headerToggle {
    grid-area: q;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: var(--color-to-basket);
    gap: 25px;
    display: grid;
    /*flex-direction: column;*/
  }

  .headerBottom {
    grid-area: q;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: var(--color-to-basket);
  }

  /* .h6 {
    width: 200px;
  }*/

  /*.sticky {
    position: sticky;
    bottom: 0;
    align-self: flex-end;
  }*/