  .li {
    height: 100px;
    display: flex;
    flex-direction: column;
  }

  .command {
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-to-basket);
  }

  .header {
    grid-area: h;
    /*flex: 0 0 123px;*/
    /*height: 123px;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    color: var(--bg-color-to-basket);
  }


  @media screen and (orientation: portrait) {
    .hidden {
      overflow: hidden;
      grid-area: m;
      height: 100vh;
      position: sticky;
      top: 123px;
    }

    .hidden>img {
      width: 100%;
      object-fit: cover;
      object-position: right 0px;
      display: block;
      /* Убирает лишний отступ под SVG */
    }

    .footer {
      grid-area: f;
      margin-right: 1em;
      flex: 0 0 150px;
      height: 80px;
      width: 100vw;
      /*top: 76px;*/
      position: fixed;
      /*sticky;*/
      bottom: 0;
      left: 0;
      padding: 16px;
      display: flex;
      /*flex-direction: column;*/
      gap: 32px;
      background: var(--bg-grey);
      /*border-radius: 24px;*/
    }
  }

  @media screen and (orientation: landscape) {
    .hidden {
      overflow: hidden;
      grid-area: m;
      height: 100vh;
      position: sticky;
      top: 0px;
    }

    .hidden>img {
      width: 100%;
      object-fit: cover;
      object-position: right 0px;
      display: block;

    }

    .footer {

      grid-area: u;
      margin-right: 1em;
      flex: 0 0 150px;
      height: 161px;
      /*top: 76px;*/
      position: fixed;
      /*sticky;*/
      top: 123px;
      right: 90px;
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 32px;
      background: var(--bg-grey);
      border-radius: 24px;
    }
  }

  .buttonItem {
    height: 48px;
    width: 120px;
    border: none;
    background: var(--bg-color-to-basket);
    color: var(--color-to-basket);
    text-decoration: none;
    border-radius: 24px;
    display: flex;
    align-items: center;
  }

  .main {
    grid-area: g;
  }

  .headerToggle {
    grid-area: g;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: var(--color-to-basket);
    gap: 25px;
    display: flex;
    flex-direction: column;
  }

  .h6 {
    /*column-count: 1;*/
    padding-top: 8px;
    width: 200px;
  }

  .sticky {
    position: sticky;
    bottom: 0;
  }